<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="keywords" name="RUCM Keywords" schema="schema/keywords.exsd"/>
   <extension-point id="fields" name="Specification Fields" schema="schema/fields.exsd"/>
   <extension-point id="flowTable" name="Flow Table Contributor" schema="schema/flowTable.exsd"/>
   <extension-point id="notations" name="Diagram Notations" schema="schema/notations.exsd"/>
   <extension-point id="sections" name="Template Section Contributor" schema="schema/sections.exsd"/>
   <extension-point id="textCellDecorator" name="Text Cell Decorator" schema="schema/textCellDecorator.exsd"/>
   <extension
         point="cn.edu.buaa.sei.lmf.runtime.metamodel">
      <typeLoader
            class="ca.carleton.sce.squall.ucmeta.UCMetaTypeLoader">
      </typeLoader>
      <typeLoader
            class="ca.carleton.sce.squall.ucmeta.UCMetaTemplateTypeLoader">
      </typeLoader>
      <typeLoader
            class="ca.carleton.sce.squall.ucmeta.UCMetaSentenceTypeLoader">
      </typeLoader>
      <typeLoader
            class="ca.carleton.sce.squall.ucmeta.UCDTypeLoader">
      </typeLoader>
   </extension>
   <extension
         point="cn.edu.buaa.sei.lmf.runtime.initializer">
      <initializer
            class="cn.edu.buaa.sei.rucm.RUCMPlugin$RUCMPluginInitializer">
      </initializer>
   </extension>
   <extension
         point="cn.edu.buaa.sei.lmf.editor.preferredSubNode">
      <attribute
            attributeName="modelElements"
            typeName="Package">
         <preferredSubNote
               typeName="UseCase">
         </preferredSubNote>
         <preferredSubNote
               typeName="Actor">
         </preferredSubNote>
         <preferredSubNote
               typeName="Relationship">
         </preferredSubNote>
         <preferredSubNote
               typeName="Generalization">
         </preferredSubNote>
         <preferredSubNote
               typeName="Package">
         </preferredSubNote>
      </attribute>
   </extension>
   <extension
         point="cn.edu.buaa.sei.lmf.editor.nodeDecorator">
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.ActorDescriptor"
            typeName="Actor">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.PackageDecorator"
            typeName="Package">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.FlowDescriptor"
            typeName="FlowOfEvents">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.GeneralizationDescriptor"
            typeName="Generalization">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.RelationshipDescriptor"
            typeName="Relationship">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.SentenceDescriptor"
            typeName="Sentence">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.SentenceNatureDescriptor"
            typeName="SentenceNature">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.SpecDescriptor"
            typeName="UseCaseSpecification">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.UCModelDescriptor"
            typeName="UCModel">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.UseCaseDescriptor"
            typeName="UseCase">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.UCDLinkDecorator"
            typeName="UCDLink">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.UCDNodeDecorator"
            typeName="UCDNode">
      </decorator>
      <decorator
            class="cn.edu.buaa.sei.rucm.decorators.UCDiagramDecorator"
            typeName="UCDiagram">
      </decorator>
   </extension>
   <extension
         point="cn.edu.buaa.sei.lmf.editor.contextMenu">
      <contributor
            class="cn.edu.buaa.sei.rucm.menus.RebuildSentenceNatures$Contributor"
            group="action">
      </contributor>
      <contributor
            class="cn.edu.buaa.sei.rucm.menus.GenerateDiagram"
            group="action">
      </contributor>
      <contributor
            class="cn.edu.buaa.sei.rucm.menus.OpenWithSpecEditor"
            group="utility">
      </contributor>
      <contributor
            class="cn.edu.buaa.sei.rucm.menus.OpenWithDiagramEditor"
            group="utility">
      </contributor>
      <contributor
            class="cn.edu.buaa.sei.ate.transformtoxml.TransformMenu"
            group="utility">
      </contributor>
   </extension>
   <extension
         point="cn.edu.buaa.sei.rucm.flowTable">
      <flowTable
            class="cn.edu.buaa.sei.rucm.spec.FlowSection$StandardFlowTableContributor"
            displayName="Specific Alternative Flow"
            flowType="SpecificAlternative">
      </flowTable>
      <flowTable
            class="cn.edu.buaa.sei.rucm.spec.FlowSection$StandardFlowTableContributor"
            displayName="Bounded Alternative Flow"
            flowType="BoundedAlternative">
      </flowTable>
      <flowTable
            class="cn.edu.buaa.sei.rucm.spec.FlowSection$StandardFlowTableContributor"
            displayName="Global Alternative Flow"
            flowType="GlobalAlternative">
      </flowTable>
   </extension>
   <extension
         point="cn.edu.buaa.sei.rucm.keywords">
      <contributor
            class="cn.edu.buaa.sei.rucm.spec.keywords.StandardKeywordContributor">
      </contributor>
   </extension>
   <extension
         point="cn.edu.buaa.sei.rucm.notations">
      <node
            class="cn.edu.buaa.sei.rucm.diagram.notations.UseCaseView"
            displayName="Use Case"
            typeName="UCDUseCaseNode">
         <nodeMapping
               targetAttribute="useCase">
         </nodeMapping>
      </node>
      <node
            class="cn.edu.buaa.sei.rucm.diagram.notations.ActorView"
            displayName="Actor"
            typeName="UCDActorNode">
         <nodeMapping
               targetAttribute="actor">
         </nodeMapping>
      </node>
      <link
            class="cn.edu.buaa.sei.rucm.diagram.notations.RelationshipLayer"
            displayName="Association"
            isDirected="false"
            typeName="UCDRelationshipLink">
         <linkMapping
               element1Attribute="actor"
               element2Attribute="useCase"
               targetAttribute="relationship">
         </linkMapping>
      </link>
      <link
            class="cn.edu.buaa.sei.rucm.diagram.notations.GeneralizationLayer"
            displayName="Generalization"
            typeName="UCDGeneralizationLink">
         <linkMapping
               element1Attribute="specific"
               element2Attribute="general"
               targetAttribute="generalization">
         </linkMapping>
      </link>
      <link
            class="cn.edu.buaa.sei.rucm.diagram.notations.IncludeLayer"
            displayName="Include"
            typeName="UCDIncludeLink">
         <linkMapping
               element1Attribute="includingCase"
               element2Attribute="addition"
               targetAttribute="include">
         </linkMapping>
      </link>
      <link
            class="cn.edu.buaa.sei.rucm.diagram.notations.ExtendLayer"
            displayName="Extend"
            typeName="UCDExtendLink">
         <linkMapping
               element1Attribute="extension"
               element2Attribute="extendedCase"
               targetAttribute="extend">
         </linkMapping>
      </link>
      <node
            class="cn.edu.buaa.sei.rucm.diagram.notations.PackageView"
            displayName="Package"
            typeName="UCDPackage">
         <nodeMapping
               containerAttribute="modelElements"
               targetAttribute="package">
         </nodeMapping>
      </node>
      <node
            class="cn.edu.buaa.sei.rucm.diagram.DiagramView"
            isVisible="false"
            typeName="UCDiagram">
         <nodeMapping
               containerAttribute="modelElements"
               targetAttribute="ucModel">
         </nodeMapping>
      </node>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.edu.buaa.sei.rucm.SpecificationEditor"
            default="false"
            icon="icons/properties.gif"
            id="cn.edu.buaa.sei.rucm.specEditor"
            name="Use Case Specification Editor">
      </editor>
      <editor
            class="cn.edu.buaa.sei.rucm.DiagramEditor"
            default="false"
            icon="icons/elements_obj.gif"
            id="cn.edu.buaa.sei.rucm.diagramEditor"
            name="Use Case Diagram Editor">
      </editor>
      <editor
            class="cn.edu.buaa.sei.rucm.DescriptionEditor"
            default="true"
            filenames="*.rucm"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.descEditor"
            name="Use Case Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cn.edu.buaa.sei.rucm.category"
            name="RUCM">
      </category>
      <view
            category="cn.edu.buaa.sei.rucm.category"
            class="cn.edu.buaa.sei.rucm.ModelTreeViewer"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.modelNavigator"
            name="Model Tree Viewer (Deprecated)"
            restorable="true">
      </view>
      <view
            category="cn.edu.buaa.sei.rucm.category"
            class="cn.edu.buaa.sei.rucm.Navigator"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.commonNavigator"
            name="Model Explorer"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        
         <toolbar
               id="cn.edu.buaa.sei.rucm.spec.toolbar"
               label="RUCM Specification Editor Toolbar">
         <command
               commandId="cn.edu.buaa.sei.rucm.spec.commands.changeFont"
               icon="icons/font.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="cn.edu.buaa.sei.rucm.specEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Specification">
            <command
                  commandId="cn.edu.buaa.sei.rucm.commands.saveAsImage"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="cn.edu.buaa.sei.rucm.specEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="cn.edu.buaa.sei.rucm.spec.commands.saveSpecAsText"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="cn.edu.buaa.sei.rucm.specEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="cn.edu.buaa.sei.rucm.commands.print"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="cn.edu.buaa.sei.rucm.specEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Diagram">
            <command
                  commandId="cn.edu.buaa.sei.rucm.commands.saveAsImage"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="cn.edu.buaa.sei.rucm.diagramEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="cn.edu.buaa.sei.rucm.commands.print"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePartId">
                     <equals
                           value="cn.edu.buaa.sei.rucm.diagramEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         name="ssd"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cn.edu.buaa.sei.rucm.spec.commands.ChangeFont"
            id="cn.edu.buaa.sei.rucm.spec.commands.changeFont"
            name="Change Font">
      </command>
      <command
            defaultHandler="cn.edu.buaa.sei.rucm.commands.SaveAsImage"
            id="cn.edu.buaa.sei.rucm.commands.saveAsImage"
            name="Save as Image...">
      </command>
      <command
            defaultHandler="cn.edu.buaa.sei.rucm.spec.commands.SaveSpecAsText"
            id="cn.edu.buaa.sei.rucm.spec.commands.saveSpecAsText"
            name="Save as Text...">
      </command>
      <command
            defaultHandler="cn.edu.buaa.sei.rucm.commands.Print"
            id="cn.edu.buaa.sei.rucm.commands.print"
            name="Print...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cn.edu.buaa.sei.rucm.RUCMPerspectiveFactory"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.perspective"
            name="RUCM">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="cn.edu.buaa.sei.rucm.category"
            name="ATE Model">
      </category>
      <wizard
            category="cn.edu.buaa.sei.rucm.category"
            class="cn.edu.buaa.sei.rucm.wizards.NewModelWizard"
            finalPerspective="cn.edu.buaa.sei.rucm.perspective"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.newModelWizard"
            name="Test Case Model"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="cn.edu.buaa.sei.rucm.commonNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="cn.edu.buaa.sei.rucm.commonNavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="cn.edu.buaa.sei.rucm.commonNavigator.modelContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="cn.edu.buaa.sei.lmf.navigator.NavigatorContentProvider"
            icon="icons/ucmodel.gif"
            id="cn.edu.buaa.sei.rucm.commonNavigator.modelContent"
            labelProvider="cn.edu.buaa.sei.lmf.navigator.NavigatorContentProvider"
            name="RUCM Model Content"
            providesSaveables="true">
         <actionProvider
               class="cn.edu.buaa.sei.lmf.navigator.ActionProvider">
            <enablement>
               <instanceof
                     value="cn.edu.buaa.sei.lmf.edit.Node">
               </instanceof>
            </enablement>
         </actionProvider>
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="rucm">
               </test>
            </and>
         </triggerPoints>
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="rucm">
               </test>
            </and>
         </enablement>
         <commonSorter
               class="cn.edu.buaa.sei.lmf.navigator.NavigatorSorter">
         </commonSorter>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="cn.edu.buaa.sei.rucm.EditorInputFactory"
            id="cn.edu.buaa.sei.rucm.editorInputFactory">
      </factory>
   </extension>
   <extension
         point="cn.edu.buaa.sei.lmf.editor.doubleClickAction">
      <delegate
            class="cn.edu.buaa.sei.rucm.Navigator$StandardDoubleClickActionDelegate"
            typeName="UCDiagram">
      </delegate>
      <delegate
            class="cn.edu.buaa.sei.rucm.Navigator$StandardDoubleClickActionDelegate"
            typeName="UseCase">
      </delegate>
      <delegate
            class="cn.edu.buaa.sei.rucm.Navigator$StandardDoubleClickActionDelegate"
            typeName="UseCaseSpecification">
      </delegate>
   </extension>

</plugin>
