<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="cn.edu.buaa.sei.lmf.ecore.gen.GenCommandHandler"
            id="cn.edu.buaa.sei.lmf.ecore.gen.genCommand"
            name="Transform to Java Code Presentation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="cn.edu.buaa.sei.lmf.ecore.gen.genCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="cn.edu.buaa.sei.lmf.meta.Package">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
